/* Spinner for loading screens */
@keyframes spinner {
  0% {
  transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
  transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  }
  
#spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px rgb(212, 212, 212);
  border-bottom-color: rgba(60, 198, 36, 1);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#logo {
  width: 135px;
}

.nav-item:hover {
  cursor: pointer;
}

.no-decor:hover {
  text-decoration: none;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  #logo {
    width: 185px;
  }

  .nav-item {
    font-size: 1.2em;
    padding: 5px;
  }

  .small-width {
    width: 75%;
  }
}